.timeline-section{
  margin-top: 7rem;
}

.h2-name a {
    color: #337ab7 !important;
    text-decoration: none;
}

.caption-h1{
  text-align: center;
  color:#3a9aff;
}

.home-button {
    color: white !important;
}

.h2-name {
    color: #b79a0d;
    font-size: 25px;
    word-break: break-word;
}

.fa-2x {
    font-size: large !important;
}

@media screen and (max-width: 768px){
    .caption-h1 {
        font-size: 2.5rem!important;
    }
}

.col-lg-7 {
    width: 90% !important;
}
