<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Code</title>
    <style>
        .container{
            max-width: 700px;
        }
        .container section {
            background: hsl(30,80%,90%);
            color: black;
            font-weight: bolder;
        }
        pre{
            white-space: pre-wrap;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
            <%-s%>
    </div>
</body>
</html>