.row .col-md-6 .card .card-img-top {
    height: 250px;
}

.blog-container .row div .card {
    border-radius: unset;
}

.blog-container { 
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.blog-caption { 
    text-align: center;
    color:white!important;
}

.card-body {
    height: 200px;
}

.card-body a .card-title {
    color:black;
    font-weight: bolder;
    font-size: 25px;
}

.card-body a .card-title:hover {
    color:#656565;
}

.publisher-container a img:hover {
    opacity:0.65
}

.publisher-container {
    padding-left:20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.publisher-container p, .publisher-container img {
    display: inline;
}
.blog-profile-pic {
    width: 30px;
    height: 30px!important;
    border-radius: 50%;
}

.card-body .row .col-md-6 button {
    float: right;
}

.publisher-container p small {
    padding-left:2vh;
    font-size: 12px;
}

@media screen and (max-width:768px) { 
    .card-body {
        height: 150px;
    }
    .publisher-container {
        margin-top: 10px;
    }
    .blog-profile-pic {
        width: 50px;
        height: 50px!important;
    }

}