/* AFTER POP UP DESCRIPTIONS - PROJECT "Stack" "Description" */
.proj-stack h5 {
  color:white;
  font-size: 50px;
  font-family: "museo-sans", Arial, Verdana;
  line-height: 72px;
  letter-spacing: -5px;
  float: left;
  position: absolute;
  left:39%;
  text-align: center;
}
.proj-stack p{
  color:white;
  font-size: 20px;
  font-family: "museo-sans", Arial, Verdana;
  line-height: 30px;
  float: left;
  height: 100px;
  width: 350px;
  position: absolute;
  top: 5%;
  right: 35%;
  text-align: center;

}
.proj-des h5{
  color:white;
  font-size: 50px;
  font-family: "museo-sans", Arial, Verdana;
  line-height: 72px;
  letter-spacing: -5px;
  float: left;
  position: absolute;
  top: 30%;
  right:55%;
  text-align: center;
}
.proj-des p{
  position: absolute;
  color:white;
  font-size: 20px;
  font-family: "museo-sans", Arial, Verdana;
  line-height: 30px;
  height: 100px;
  width: 350px;
  right: 35%;
  bottom: 45%;
  text-align: center;
}


/*NAVVV*/
.navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
}

.navbar-toggler {
  font-size: 0.65rem;
}

.navbar-icon-container{
  margin: 0 auto;
}

.navbar {
  text-align: center;
}
@media screen and (max-width:515px){
  .left-right-btn{
    position: relative!important;
    bottom: 100px!important;
  }
  .dg-wrapper{
    width: 100%!important;
  }
  .dg-wrapper a {
    width: 100%!important;
    height: auto!important;
  }
  .dg-wrapper a img {
    width: 100%;
  }
  .about-container{
    padding-top: 20px!important;
  }
}

@media (min-width: 768px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.col-md-3 {
  text-align: center;
}
form a i {
  padding: 20px;
}

.collapse .navbar-nav li {
  padding: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.collapse .navbar-nav li:hover{
  background-color:#80808091;
}

@media screen and (max-width:768px) {
  .collapse .navbar-nav li {
    padding: 5px;
  }

  form a i {
    padding: 10px;
  }
}

.its-a-wrap {
  overflow-x: hidden;
  overflow: hidden;
}

.navbar-expand-lg {
  background-color: rgba(21, 31, 33, 0.5) !important;
  border-bottom: 1px solid #dedede;
  width: 100%;
  position: fixed;
  z-index: 1;
}

a {
  color: white !important;
}

/* iframe image */
.float-right{
  float: left;
  width: 50%;
  }

  .mfp-hide {
    display: none!important;
}

/* POP UP ENDS */

html{
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #333!important;
    background-color: black;
    /* background-color:; */

}
a {
  color: aliceblue;
  text-decoration: none!important;
}

/* Jumbotron */
b, strong {
  font-weight: 500;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color:black;
  color: #afadad;
  text-align: center;
}
.mainnav{
  background-color: rgba(21,31,33,0.5);
  border-bottom: 1px solid #dedede;
  display: flex;
  font-weight: 100;
  justify-content: space-between;
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  top: 0;
  z-index: 1000;
}
/* linked in, github icons- move to the right*/
.navbar-nav .icon_clicks a {
  position: relative;
  right: -2000%;
}
.mainheader{
  /* background-image: url("https://wallpapercave.com/wp/wp2848515.jpg"); */
  background-image: url("https://www.wallpaperflare.com/static/471/767/754/abstract-ae-plexus-blue-dot-wallpaper.jpg");
  background-size: cover;
  height: 100vh;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 30px;
}
.btn-primary {
  color: #fff!important;
  background-color: #337ab7!important;
  border-color: #2e6da4!important;
  padding-top: 10px!important;
  font-size: larger;
}
.downlbtn{
    width:200px;
    display:inline-block;
    overflow: auto;
    white-space: nowrap;
    margin:0px auto;
    padding-top: 7px;

  }
.xxx{
    padding-top: 7px;
    display: inline;
}

/* ABOUT ME SECTION */
.aboutme{
  padding-top: 100px;
}

/*ICONS*/
.container .row .col-md-3 .links i{
  padding: 5px;
}

.aboutme-paragraph{
  color: #bdbdbd;
  font-size: 16px;
}
