/* Positioning of the container div */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    position: relative;
    top:80px;
}

.btn-source{
    position: absolute;
    left: 35%;
    padding-top:40px;
    margin-left: 1em;
    margin-right: 1em;

  }
.btn-website {
    position: absolute;
    right: 62%;
    margin-left: 1em;
    margin-right: 1em;

}

/* Website / Source code button container */
.web-code-btn{
    padding-top:20px;
}


/*div content for img and source/website buttons */
.col-md-8 {
    width: 100%;
    height: 100%;
}

/* project name  */
.container .my-project-title{
    color:#337ab7;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*title content */
.project-des h3{
    font-family: inherit;
    font-style: italic;
    font-weight: 500;
    line-height: 1.1;
    color:#337ab7;
}
/* title description */
.project-des{
    color: #c7c7c7;
}

.flow_content {
    padding-bottom: 100px;
    padding-top:20px;
}


@media screen and (max-width:768px){
    .flow_content img{
        width:100%;
    }
    .flow_content{
        top:40px;
    }
    .web-code-btn{
        text-align: center;
    }
}