form {
    text-align: center;
}
label,select,input,textarea,button {
    display: block;
    margin: 5px auto;

}
label {
    font-weight: bolder;
    text-decoration: underline;
    margin-top: 20px;
}
span {
    color:red;
}
@media screen and (max-width:768px) {
    textarea {
        width: 100%;
    }
}